.inline-block {
  display: inline-block;
  _zoom: 1;
  *display: inline;
}
.ko-button {
  outline: 0;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  background: #f5f7f9;
  border: 1px solid #b7bdc4;
  color: #657180;
  font-weight: 400;
  font-size: 12px;
  transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
}
.ko-button.ko-hover {
  background: #ffffff;
  color: #5cadff;
  border-color: #5cadff;
}
.ko-button.ko-active {
  background: #f2f2f2;
  color: #0073e5;
  border-color: #0073e5;
}
.ko-button.ko-primary,
.ko-button.ko-info,
.ko-button.ko-success,
.ko-button.ko-warning,
.ko-button.ko-error {
  color: #ffffff;
}
.ko-button.ko-primary.ko-active,
.ko-button.ko-info.ko-active,
.ko-button.ko-success.ko-active,
.ko-button.ko-warning.ko-active,
.ko-button.ko-error.ko-active {
  color: #ffffff;
}
.ko-button.ko-primary .ko-icon,
.ko-button.ko-info .ko-icon,
.ko-button.ko-success .ko-icon,
.ko-button.ko-warning .ko-icon,
.ko-button.ko-error .ko-icon {
  color: #ffffff;
}
.ko-button.ko-primary {
  border-color: #3399ff;
  background: #3399ff;
}
.ko-button.ko-primary.ko-hover {
  border-color: #5cadff;
  background: #5cadff;
}
.ko-button.ko-primary.ko-active {
  border-color: #0073e5;
  background: #0073e5 !important;
}
.ko-button.ko-ghost {
  background: #ffffff;
}
.ko-button.ko-ghost.ko-active {
  background: #f2f2f2;
}
.ko-button.ko-dashed {
  background: #ffffff;
  border-style: dashed;
}
.ko-button.ko-dashed.ko-active {
  background: #f2f2f2;
}
.ko-button.ko-text {
  background: inherit;
  border: 0 solid;
}
.ko-button.ko-info {
  border-color: #4da6ff;
  background: #4da6ff;
}
.ko-button.ko-info.ko-hover {
  border-color: #66b2ff;
  background: #66b2ff;
}
.ko-button.ko-info.ko-active {
  border-color: #3399ff;
  background: #3399ff;
}
.ko-button.ko-success {
  border-color: #00cc66;
  background: #00cc66;
}
.ko-button.ko-success.ko-hover {
  border-color: #00e673;
  background: #00e673;
}
.ko-button.ko-success.ko-active {
  border-color: #00b359;
  background: #00b359 !important;
}
.ko-button.ko-warning {
  border-color: #ff9900;
  background: #ff9900;
}
.ko-button.ko-warning.ko-hover {
  border-color: #ffa31a;
  background: #ffa31a;
}
.ko-button.ko-warning.ko-active {
  border-color: #e68a00;
  background: #e68a00 !important;
}
.ko-button.ko-error {
  border-color: #ff6600;
  background: #ff6600;
}
.ko-button.ko-error.ko-hover {
  border-color: #ff751a;
  background: #ff751a;
}
.ko-button.ko-error.ko-active {
  border-color: #e65c00;
  background: #e65c00 !important;
}
.ko-button .iconfont {
  margin-right: 5px;
}
.ko-button.ko-circle {
  border-radius: 32px;
}
.ko-button.ko-circle.ko-icon-only {
  padding: 0;
  width: 32px;
  border-radius: 50%;
}
.ko-button.ko-circle.ko-icon-only .iconfont {
  margin-right: 0;
  font-size: 16px;
}
.ko-button.ko-fluid {
  display: block;
}
.ko-button.ko-large {
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}
.ko-button.ko-large .iconfont {
  margin-right: 5px;
  font-size: 16px;
}
.ko-button.ko-large.ko-circle {
  border-radius: 42px;
}
.ko-button.ko-large.ko-circle.ko-icon-only {
  padding: 0;
  width: 42px;
}
.ko-button.ko-large.ko-circle.ko-icon-only .iconfont {
  margin-right: 0;
}
.ko-button.ko-small {
  height: 22px;
  line-height: 22px;
  font-size: 10px;
}
.ko-button.ko-small .iconfont {
  margin-right: 5px;
}
.ko-button.ko-small.ko-circle {
  border-radius: 22px;
}
.ko-button.ko-small.ko-circle.ko-icon-only {
  padding: 0;
  width: 22px;
}
.ko-button.ko-small.ko-circle.ko-icon-only .iconfont {
  margin-right: 0;
}
.ko-button.ko-disable {
  background: #c3cbd6;
  color: #9ea7b4;
  cursor: not-allowed;
}
.ko-button.ko-disable.ko-hover {
  background: #c3cbd6;
  color: #9ea7b4;
}
.ko-button.ko-disable.ko-active {
  background: #c3cbd6 !important;
  color: #9ea7b4 !important;
}
.ko-button .ko-loader {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.ko-button-group {
  display: inline-block;
  font-size: 0;
}
.ko-button-group .ko-icon {
  margin-top: 7px;
}
.ko-button-group .ko-icon-only .ko-icon {
  margin-right: 0 !important;
}
.ko-button-group .ko-button {
  border-radius: 0;
  border-width: 0.5px;
}
.ko-button-group ko-button:first-child .ko-button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ko-button-group ko-button:last-child .ko-button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ko-button-group.ko-circle ko-button:first-child .ko-button {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}
.ko-button-group.ko-circle ko-button:last-child .ko-button {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
.ko-button-group.ko-vertical .ko-button {
  display: block;
}
.ko-button-group.ko-vertical ko-button .ko-button {
  border-radius: 0;
}
.ko-button-group.ko-vertical ko-button:first-child .ko-button {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.ko-button-group.ko-vertical ko-button:last-child .ko-button {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
